In [102]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [103]:
df = pd.read_csv("/content/OnlineRetail.csv",encoding= 'unicode_escape')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [104]:
# There are numerous countries in the data set, and since we are using the apriori method to do market basket analysis,the association rules may vary from one country to another.
# As a result, I have chosen the Germany for easy computation.

df.Country.value_counts().head(5)

United Kingdom    495478
Germany             9495
France              8557
EIRE                8196
Spain               2533
Name: Country, dtype: int64

In [105]:
df_G = df[df.Country == 'Germany']

## Data cleaning

In [106]:
# There are spaces in the description; we need to delete those spaces because we need to transform the description column into rows in the following steps,
# and if we don't remove the spaces now, we might run into a lot of problems.

df_G['Description'] = df_G['Description'].str.strip()

<ipython-input-106-6d63e5f11943>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_G['Description'] = df_G['Description'].str.strip()

In [107]:
# Some transactions have negative quantities, which cannot be removed.

df_G = df_G[df_G.Quantity >0]

In [108]:
# Following all processing, the data appears as follows.

df_G.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany
1114,536527,22243,5 HOOK HANGER RED MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1115,536527,47421,ASSORTED COLOUR LIZARD SUCTION HOOK,24,12/1/2010 13:04,0.42,12662.0,Germany
1116,536527,20712,JUMBO BAG WOODLAND ANIMALS,10,12/1/2010 13:04,1.95,12662.0,Germany
1117,536527,20713,JUMBO BAG OWLS,10,12/1/2010 13:04,1.95,12662.0,Germany
1118,536527,22837,HOT WATER BOTTLE BABUSHKA,4,12/1/2010 13:04,4.65,12662.0,Germany

In [109]:
# transforming the provided data into the format needed to provide input for the model and the Quantity total as values. If any nan values exist, fill 0

Basket = pd.pivot_table(data=df_G,index='InvoiceNo',columns='Description',values='Quantity', aggfunc='sum',fill_value=0)

In [110]:
Basket.head()

Description,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE SKULLS,...,YULETIDE IMAGES GIFT WRAP SET,ZINC HEART T-LIGHT HOLDER,ZINC STAR T-LIGHT HOLDER,ZINC BOX SIGN HOME,ZINC FOLKART SLEIGH BELLS,ZINC HEART LATTICE T-LIGHT HOLDER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL,ZINC WILLIE WINKIE CANDLE STICK
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536527,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536861,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536967,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Basket Analysis

In [111]:
# We only need to know whether the consumer took the item; we don't need to know how many.
# In order to normalise this, we must change the values so that if the item count is greater than 1, we replace the value with 1, and if it is less than 0, we replace it with 0.

def Binary(x):
    if x > 0:
        return 1
    else:
        return 0

Sets_Basket = Basket.applymap(Binary)

In [112]:
# remove postage item as it is just a seal which almost all transaction contains.
print(Sets_Basket['POSTAGE'].head())

Sets_Basket.drop(columns=['POSTAGE'],inplace=True)

InvoiceNo
536527    1
536840    1
536861    1
536967    1
536983    1
Name: POSTAGE, dtype: int64

In [113]:
#Let's now determine whether or not the values have changed.

for i in Sets_Basket['12 COLOURED PARTY BALLOONS']:
  if i>1:
     print("1")
  elif i<0:
    print("0")

In [114]:
Sets_Basket.shape

(457, 1694)

In [115]:
# As of right now, we are calling the apriori function and passing the 7% minimum support test.
# means that the item must be present 7 times in the total number of transactions.
frequent_itemsets = apriori(Sets_Basket, min_support=0.07, use_colnames=True)

In [119]:
#it will generate frequent itemsets
frequent_itemsets.head()

    support                     itemsets
0  0.102845     (6 RIBBONS RUSTIC CHARM)
1  0.070022  (ALARM CLOCK BAKELIKE PINK)
2  0.072210          (GUMBALL COAT RACK)
3  0.091904     (JAM MAKING SET PRINTED)
4  0.078775    (JUMBO BAG RED RETROSPOT)

In [117]:
# Applying association rules to a frequently used itemset.
# Here, we're setting based on lift and maintaining a 1 lift minimum.

rules_mlxtend = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules_mlxtend

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(PLASTERS IN TIN WOODLAND ANIMALS),(ROUND SNACK BOXES SET OF4 WOODLAND),0.137856,0.245077,0.074398,0.539683,2.202098,0.040613,1.640006
1,(ROUND SNACK BOXES SET OF4 WOODLAND),(PLASTERS IN TIN WOODLAND ANIMALS),0.245077,0.137856,0.074398,0.303571,2.202098,0.040613,1.237951
2,(ROUND SNACK BOXES SET OF4 WOODLAND),(ROUND SNACK BOXES SET OF 4 FRUITS),0.245077,0.157549,0.131291,0.535714,3.400298,0.092679,1.814509
3,(ROUND SNACK BOXES SET OF 4 FRUITS),(ROUND SNACK BOXES SET OF4 WOODLAND),0.157549,0.245077,0.131291,0.833333,3.400298,0.092679,4.529540
4,(SPACEBOY LUNCH BOX),(ROUND SNACK BOXES SET OF4 WOODLAND),0.102845,0.245077,0.070022,0.680851,2.778116,0.044817,2.365427
5,(ROUND SNACK BOXES SET OF4 WOODLAND),(SPACEBOY LUNCH BOX),0.245077,0.102845,0.070022,0.285714,2.778116,0.044817,1.256018

In [118]:
# rules_mlxtend.rename(columns={'antecedents':'lhs','consequents':'rhs'})

# as based business use case we can sort based on confidance and lift.
rules_mlxtend[ (rules_mlxtend['lift'] >= 2) & (rules_mlxtend['confidence'] >= 0.4) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(PLASTERS IN TIN WOODLAND ANIMALS),(ROUND SNACK BOXES SET OF4 WOODLAND),0.137856,0.245077,0.074398,0.539683,2.202098,0.040613,1.640006
2,(ROUND SNACK BOXES SET OF4 WOODLAND),(ROUND SNACK BOXES SET OF 4 FRUITS),0.245077,0.157549,0.131291,0.535714,3.400298,0.092679,1.814509
3,(ROUND SNACK BOXES SET OF 4 FRUITS),(ROUND SNACK BOXES SET OF4 WOODLAND),0.157549,0.245077,0.131291,0.833333,3.400298,0.092679,4.529540
4,(SPACEBOY LUNCH BOX),(ROUND SNACK BOXES SET OF4 WOODLAND),0.102845,0.245077,0.070022,0.680851,2.778116,0.044817,2.365427

## Conclusion

According to the study above, we learned that consumers who purchased antecedents also purchased consequents, and there is a strong likelihood that any customer who purchases an antecedent in the future would also purchase the matching consequents.